$darkgrey: #1a1a1aff;
$grey: rgb(92, 92, 92);
$lightgrey2: rgb(251, 251, 251);
$lightgrey: rgb(231, 231, 231);
$neonpurple: #7b6eff;
$purple: #8958f1;
$rederror: #ff4655;

// Fonts
$regular: 400;
$medium: 500;
$bold: 700;

$headline1: 63px Staatliches, sans-serif;
$headline2: 39px Staatliches, sans-serif;
$headline3: 31px Staatliches, sans-serif;
$headline4: 22px Staatliches, sans-serif;
$headline5: 17px Staatliches, sans-serif;
$headline6: 13px Staatliches, sans-serif;

$bodyheading: $medium 20px Roboto, sans-serif;

$body1: 16px Roboto, sans-serif;
$body2: 14px Roboto, sans-serif;

$subtitle1: 10px Staatliches, sans-serif;
$subtitle2: 9px Staatliches, sans-serif;

$buttontext: small-caps $medium 14px Roboto, sans-serif;
$overline: 10px Roboto, sans-serif;
$captiontext: 12px Roboto, sans-serif;
